@model MvcSignPage.ViewModels.SignInViewModel
@{
    ViewBag.Title = "登录";
}

@using (Html.BeginForm("SignIn", "User", FormMethod.Post, new { id = "signForm" }))
{
    @Html.AntiForgeryToken()
    
    <h2>Sign In Page</h2>
    <div class="container">
        <div class="title-box">登录</div>
        <div class="input-box">
            <div class="name">
                @Html.TextBoxFor(m => m.Username, new { id = "nameBox", placeholder = "用户名" })
                @Html.ValidationMessageFor(model => model.Username, "", new { id = "notNullName", @class = "validator" })
            </div>
            <div class="passwd">
                @Html.PasswordFor(m => m.Password, new { id = "passwdBox", placeholder = "密码（6~20位）" })
                @Html.ValidationMessageFor(model => model.Password, "", new { id = "notNullEmail", @class = "validator" })
            </div>
        </div>

        <div class="sign-btn">
            <input type="submit" value="提交" id="signInBtn" />
        </div>

        <div class="tip">
            @Html.ActionLink("还没注册？马上注册！", "SignUp")
        </div>
    </div>

    <div class="label">
@if (ViewBag.IsSignIn != null)
{
    if (ViewBag.IsSignIn)
    {
        <span id="tipLabel">登录成功</span>
    }
    else
    {
        <span id="tipLabel">登录失败</span>
    }
}
    </div>
}
<script>
    //window.onload = function () {
    //    (new FocusEvent('nameBox', 'validator')).addFocus();
    //    (new FocusEvent('emailBox', 'validator')).addFocus();
    //};
</script>