@model IEnumerable<MovieMvc.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="movie-index">
    <ul class="list-group">
        <li class="list-group-item">
            <h2 class="m-0">Movie List</h2>
        </li>
        @foreach (var item in Model)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>
                    <b>@Html.DisplayFor(modelItem => item.Name)</b>
                    <span class="badge badge-success">@Html.DisplayFor(modelItem => item.Genre)</span>
                </span>
                <span class="badge badge-light">
                    @Html.ActionLink("详情", "Details", new { id = item.Id }) ·
                    @Html.ActionLink("编辑", "Edit", new { id = item.Id }) ·
                    @Html.ActionLink("删除", "Delete", new { id = item.Id }, new { id = "delete-btn" })
                </span>
            </li>
        }
    </ul>
    <div class="d-flex mt-3">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
        @using (Html.BeginForm("Index", "Movies", FormMethod.Get))
        {
        <div class="d-flex ml-2">
            <input type="submit" value="Filter" class="btn btn-info"/>
            @Html.DropDownList("movieGenre", null, "All", new { @class = "custom-select mx-3" })
            @Html.TextBox("SearchString", null, new { @class = "form-control", placeholder = "输入电影名" })
            @*<input type="text" id="SearchString" name="SearchString" class="form-control ml-3" placeholder="输入电影名" />*@
        </div>
        }
    </div>
</div>
<script>
    document.querySelector('#movie-index').addEventListener('click', ev => {
        if (ev.target.id == 'delete-btn') {
            if (!confirm('Are you sure to delete this movie?')) {
                ev.preventDefault();
            }
        }
    });
</script>