@model IEnumerable<MovieMvc.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Rating)</th>
            <th scope="col">Operations</th>
        </tr>
    </thead>



@foreach (var item in Model)
{
    <tbody>
        <tr>
            <th scope="row">@Html.DisplayFor(modelItem => item.Name)</th>
            <td>@Html.DisplayFor(modelItem => item.Rating)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    </tbody>
}
</table>
